[submodule "src/landru"]
	path = src/landru
	url = git@github.com:elyosh/landru.git
[submodule "aeron"]
	path = aeron
	url = git@github.com:elyosh/Aeron.git
[submodule "src/imuse"]
	path = src/imuse
	url = git@github.com:elyosh/imuse.git
